@import 'tailwindcss';

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

@theme {
  /* Farver */
  --color-black: #2E2E2E;
  --color-dark-grey: #3F3F3F;
  --color-beige: #EFEDE8;
  --color-white: #FFFFFF;

  /* Typografi */
  --font-display: 'Montserrat', sans-serif;
  --font-sans: 'Montserrat', sans-serif;
}

@layer base {
}

@layer components {
  /* h1 */
  .h1 {
    @apply font-sans font-normal text-[24px] leading-[1] text-[var(--color-black)];
    @apply md:text-[64px];
  }

  /* h2 */
  .h2 {
    @apply font-sans font-normal text-[20px] leading-[0.9] tracking-[0.015em] text-[var(--color-black)];
    @apply md:text-[56px];
  }

  /* h3 */
  .h3 {
    @apply font-sans font-medium text-[16px] leading-[1] text-[var(--color-black)];
    @apply md:text-[36px];
  }

  /* brødtekst */
  .body-text {
    @apply font-sans font-normal text-[12px] leading-[1.25] tracking-[-0.015em] text-[var(--color-black)];
    @apply md:text-[14px] md:leading-[30px];
  }

  /* brødtekst links */
  .body-text a {
    @apply underline underline-offset-2 decoration-[var(--color-black)];
  }
}

@layer components {
}

@layer utilities {
}
