---
import MainLayout from "../layouts/MainLayout.astro";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Link from "../components/Link.astro";
import Button from "../components/Button.astro";
---
<MainLayout title="Titel">
  <main class="container mx-auto p-4">

    <!-- H1 -->
    <Heading htmlheading="h1" class="h1">Komponentbibliotek</Heading>
    <Text class="body-text">Her kan du finde alle de komponenter, der er brugt i dette projekt.</Text>

    <hr class="my-4" />

    <!-- Typografi -->
    <section class="grid grid-cols-1 md:grid-cols-2 gap-8 items-start">
      
      <div class="space-y-6">
        <Heading htmlheading="h2" class="h2">Typografi & overskrifter</Heading>

        <Heading htmlheading="h1" class="h1">h1 - desk</Heading>
        <Heading htmlheading="h2" class="h2">h2 - desk</Heading>
        <Heading htmlheading="h3" class="h3">h3 - desk</Heading>

        <Text class="body-text">brødtekst - desk</Text>
      </div>

    </section>

    <hr class="my-4" />

    <!-- Links -->
    <section>
      <Text class="body-text"><Link href="#" class="body-text a">brødtekst - link</Link></Text>
    </section>

    <hr class="my-4" />

    <!-- Knap -->
    <section>
      <Heading htmlheading="text" class="h2">Button</Heading>
      <Text><Button text="Subscribe" /></Text>
    </section>

  </main>
</MainLayout>
