---
const { text = "Knap" } = Astro.props;
---
<button
  class="
    bg-white 
    border border-black 
    text-black 
    rounded-[15px]

    px-[9px] py-[5px] gap-[7.5px] text-center flex items-center justify-center
    body-text

    md:px-[18px] md:py-[4px] md:gap-[15px] md:rounded-[30px]

    transition-colors duration-200
    hover:bg-black hover:text-white
  "
>
  {text}
</button>

