---
// Denne komponent videresender kun den indkomne class-attribut.
// Brug derfor .body-text eller ingen class hvis du ikke ønsker ekstra styling.
const { } = Astro.props;
---
<p class={Astro.props.class}><slot /></p>